---
import Main from '../../../layouts/Main2.astro';

const path1 = "../FinancialAccounting/facc";
const path2 = "../ManagerialAccounting/macc";
const path3 = "../Calc1/calc1";
const path4 = "../Calc2/calc2";
const path5 = "../Micro/micro";
const path6 = "../Macro/macro";
const path7 = "../Stats/stats";

---
<Main path1 = {path1} path2 = {path2} path3 = {path3} path4 = {path4} path5 = {path5} path6 = {path6} path7 = {path7}>
    stats
</Main>