---
import { Image } from "astro:assets";
import faccounting from '../assets/icons/faccounting.svg';
import calc1 from '../assets/icons/calc1.svg';

---
<div class = "classes">
    <div class = "class">
        <Image src = {faccounting} alt = ""/> 
        
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>
    <div class = "class">
        <Image src = {calc1} alt = ""/> 
    </div>

</div>
</div>

<style>
        
    .classes{
        display:flex;
        justify-content:center;
        align-items:center;
        border-top:var(--border);

    }

    .class{
        border-right:var(--border);
        display:flex;
        justify-content:center;
        align-items:center;
        width:67.68px;
        height:43px;
    }

</style>